<div class="dashboard-wrapper" style="overflow-y: scroll">
  <div class="container">
    <app-header></app-header>
    <div class="welcome">
      <h1 class="heading heading--hero">
        Witaj na platformie edukacyjnej
        Przejrzyste Media, która pokaże Ci, jakie zagrożenia czekają w sieci.
      </h1>
      <h2 class="copy copy--large copy--faded">
        It is a long established fact that a reader will be distracted by the readable
        content of a page when looking at its layout. The point of using
      </h2>
    </div>

    <div class="welcome-boxes row no-gutters">
      <div class="col-xs-6">
        <div class="info-box">
          <div class="col align-center justify-center">
            <img src="/assets/images/tutorial.svg" alt="tutorial">
            <p class="heading heading--secondary">Rozpocznij darmowy poradnik</p>
            <a routerLink="/tutorial/1">
              <button class="btn">Start</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="info-box">
          <div class="col align-center justify-center">
            <img src="/assets/images/test.svg" alt="tutorial">
            <p class="heading heading--secondary">Rozpocznij test wiedzy</p>
            <button class="btn" [routerLink]="['/test/5']">Start</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
