<div class="container">
  <app-header></app-header>

  <app-tutorial-nav [categories]="categories"[stepName]="'social'"></app-tutorial-nav>

  <div class="tutorial fake-news">
    <div class="welcome">
      <span class="preheading">Poradnik</span>
      <h1 class="heading heading--hero">
        Oszustwa w social media i platformach gier
      </h1>

      <p class="copy copy--on-dark">
        W serwisach takich jak Facebook, Instagram czy Twitter, wchodzimy w interakcję przede wszystkim z naszymi znajomymi, idolami oraz ulubionymi markami, czyli z ludźmi i firmami, którym możemy zaufać. Znajdziemy tam niemal każdego - w końcu mediów społecznościowych używają na całym świecie niemal trzy miliardy osób! To właśnie ogromna liczba użytkowników oraz ich poczucie bezpieczeństwa sprawiają, że media społecznościowe regularnie stają się celem działań oszustów.
        <br><br>
        Wystarczy odrobina nieuwagi, by stracić pieniądze, przekazać cyberprzestępcom dane osobowe, lub nawet nieświadomie rozsyłać znajomym wirusy komputerowe z własnego konta.
      </p>
    </div>

    <div class="tutorial-description-step">
      <h3 class="heading heading--primary">Przykłady oszustw</h3>

      <div class="examples">
        <div class="box box--large">
          <div class="row align-center">
            <div class="col-xs-2">
              <img src="/assets/images/instagram-logo.png" alt="">
            </div>
            <div class="col-xs-10">
              <div class="example">
                <h5 class="preheading">Przykład 1</h5>
                <h6 class="heading heading--secondary">Obietnica łatwego zarobku na Instagramie</h6>
                <p class="copy">
                  Widzisz na Instagramie post, który obiecuje Ci łatwy zarobek - wystarczy przelać określoną kwotę na konto lub podać dane karty płatniczej, by po kilku minutach odzyskać jej dziesięciokrotność. Oszuści twierdzą, że potrafią włamywać się do systemów bankowych i za pomocą sprytnych sztuczek “mnożyć” przelane pieniadze.
                  <br><br>
                  Post zachęcający do wpłaty ma tysiące polubień i setki komentarzy od zadowolonych użytkowników, a na profilu oszustów, który śledzi pół miliona osób, nie brakuje zdjęć ich “klientów” z grubymi plikami banknotów w dłoniach. Zachęcające, prawda?
                  <br><br>
                  Niestety - gdy tylko przekażesz pieniądze, zostaniesz zablokowany na stronie oszustów, tak żebyś nie mógł skontaktować się z nimi ani zdemaskować kradzieży na ich profilu. Oczywiście nigdy nie odzyskasz wpłaconej kwoty.

                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="box box--large">
          <div class="row align-center">
            <div class="col-xs-2">
              <img src="/assets/images/steam-logo.png" alt="">
            </div>

            <div class="col-xs-10">
              <div class="example">
                <h5 class="preheading">Przykład 2</h5>
                <h6 class="heading heading--secondary">Kradzieże konta na Steamie</h6>
                <p class="copy">Do kont w tej popularnej społeczności graczy przypisane są gry oraz dodatki do nich - kolekcje gier i wirtualnych przedmiotów nierzadko warte są tysiące złotych. Czasami wystarczy kilka sekund, by stracić swój cały dorobek...</p>
                <p class="copy"><b>“Wygrałeś w losowaniu darmową kopię nowej gry. Kliknij w odnośnik, aby odebrać nagrodę”.</b> Link kieruję Cię do strony Steama, na której musisz się ponownie zalogować. Wpisujesz login i hasło, a po chwili… Twoje konto jest już w rękach cyberprzestępców.</p>
                <p class="copy">W rzeczywistości wszedłeś bowiem nie na Steama, tylko na fałszywą stronę różniącą się od niego minimalnie adresem - na przykład steamcommuntiy.com zamiast steamcommunity.com. Oszuści przejęli dane Twojego konta, a Ty straciłeś kolekcję gier.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a routerLink="slides" class="btn btn--white">Dalej</a>
  </div>
</div>
