.toast {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  z-index: 999999999999;

  background: transparent;
  min-width: 250px;

  &__box {
    margin: 10px 0px;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;

    &.success {
      background: white;
      border: 1px solid white;
      color: black;
    }

    &.error {
      background: red;
      border: 1px solid darkred;
      color: white;
    }
  }

  &__title {
    margin: 4px;
    font-size: 14px;
  }

  &__msg {
    margin: 4px;
    font-size: 14px;
  }
}
