.info-box {
  border-radius: 10px;
  background-color: pal(white);
  padding: 60px 30px;
}

.tutorial {
  color: pal(white);
  margin: 100px 0 150px;

  @include media(md-up) {
    width: 90%;
  }

  p {
    margin: 30px 0;
  }
}


.danger-list {
  .box {
    margin-right: 15px;
  }
}

.tutorial-description-step {
  margin-top: 80px;

  .heading--primary {
    color: pal(white);
  }
}

.preheading {
  color: #3DBCF8;
  text-transform: uppercase;
  @include font(12, heavy);
  letter-spacing: 1px;
}

.examples {
  margin-top: 50px;
}

.example {
  margin-left: 50px;
}

.tutorial-content {

  p {
    @include font (18, bold);
    line-height: 1.44;
    color: #072035;
    margin: 35px 0;
  }
}

.tutorial-navigation-steps {
  margin-left: 50px;

  .arrows {
    margin-left: 20px;
  }
}
