<nav class="nav-wrapper">
  <div class="nav col justify-between">
    <div class="three col">
      <div class="hamburger" (click)="burgerActive = !burgerActive; toggleMenu()" [class.burgerActive]="menuVisible">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>
    <div class="contact col align-center">
      <img src="/assets/images/edu_facebook.svg" alt="">
      <img src="/assets/images/edu_twitter.svg" alt="">
      <img src="/assets/images/edu_mail.svg" alt="">
    </div>
  </div>
</nav>
