@import '../styles.scss';

.app {
  background-image: url('/assets/images/background@2x.png');
  background-position: 30% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  height: 100vh;
  width: 100px;
  z-index: 999;
  background: pal(white);
}

.main {
  height: 100vh;
  width: calc(100vw - 100px);
  overflow-y: scroll;
}

.contact {
  position: fixed;
  right: 0;
  top: 34px;
  z-index: 1000;
}

.white-cloud {
  position: fixed;
  top: 100px;
  right: 0;
}
