<div class="app row">
  <app-nav-inside-menu [menuVisible]="menuVisible" (onLinkClick)="nav.xyz($event)" #menu *ngIf="!isRouteLogin"></app-nav-inside-menu>

  <app-nav [menuVisible]="menuVisible" class="nav" #nav (toggle)="menu.toggleNavMenu($event)" *ngIf="!isRouteLogin"></app-nav>

  <div class="main">
    <router-outlet></router-outlet>
  </div>

  <img class="contact" src="/assets/images/contact.svg" alt="" (click)="contact.toggleContactMenu()">
  <app-contact #contact></app-contact>

  <img src="/assets/images/cloud--white.svg" class="white-cloud">
</div>
