.btn {
  border: none;
  border-radius: 29px;
  @include font(12, bold);
  color: pal(white);
  padding-left: 40px;
  padding-right: 40px;
  background-color: pal(blue);
  box-shadow: 0 22px 34px 0 rgba(27, 120, 199, 0.18);
  transition: background-color 0.2s ease;
  height: 58px;
  min-width: 146px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;

  &--block {
    width: 100%;
  }

  &--white {
    background: pal(white);
    color: pal(black);
  }

  &--outline {
    background: transparent;
    color: pal(black);
    border: 2px solid #2fc9ff;
  }

  &--faded {
    background-color: pal(blue, faded);
  }

  &--semi-transparent {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
