$palette-colors: (
  black: (
    light: #072035,
    base: #000
  ),
  gray: (
    ultra-light: #f8f9fc,
    x-light: #f5f7fc,
    light: #eceef3,
    semi-light: #e7e9f1,
    mid-light: #d3d7dc,
    base: #aebac7,
    light-dark: #abb4bd,
    mid-dark: #99a3ae,
    dark: #4e576e
  ),
  white: (
    base: #fff,
  ),
  blue: (
    light: #e9f5fe,
    faded: #c2d7e7,
    base: #2fc9ff
  ),
  copy: (
    on-light: #738fa4,
    on-dark: #A5CFF0
  )
);

$main_colors: white, navy, blue, green, red;


@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palette-colors, $palette), $tone);
}

@function pal($palette, $tone: 'base') {
  @return palette($palette, $tone);
}
