@import 'common/dialog';
@import 'common/tests';
@import 'common/tutorials';

.hidden {
  display: none;
}
.introjs-skipbutton {
  display: none;
}

.introjs-donebutton {
  display: inline-block;
}

.box {
  padding: 16px 20px;
  background: pal(white);
  color: pal(black);
  border-radius: 10px;

  &--faded {
    background: rgba(255, 255, 255, 0.1);
    color: pal(white);
  }

  &--big {
    padding: 30px;
    margin: 20px 0;
  }

  &--large {
    padding: 40px 50px;
    margin: 30px 0;
  }

  &--short {
    max-width: 700px;
  }
}

.go-to-step {
  background-color: pal(white);
  width: 58px;
  height: 58px;
  margin: 3px;
  display: inline-block;
  border-radius: 50%;
  position: relative;

  .chevron {
    width: 13px;
    height: 13px;
    display: inline-block;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 13px;
      height: 13px;
      border-style: solid;
      border-color: pal(gray);
      border-width: 3px 3px 0 0;
      position: absolute;
    }

    &.left:before {
      transform: rotate(-135deg);
      margin: -15px 0 0 -10px;
      top: 34px;
      left: 34px;
    }

    &.right:before {
      transform: rotate(45deg);
      margin: -15px 0 0 -20px;
      top: 34px;
      left: 38px;
    }

    &.active {
      &:before {
        border-color: pal(black);
      }
    }
  }
}

.welcome {
  margin-top: 70px;
}
