.heading {
  margin: 20px 0;

  &--hero {
    @include font(44, extrabold);
    line-height: 1.41;
  }

  &--primary {
    @include font(24, extrabold);
    margin: 25px 0;
  }

  &--secondary {
    @include font(18, extrabold);
  }
}

.copy {
  color: pal(copy, on-light);
  margin: 15px 0;

  &--white {
    color: pal(white);
  }

  &--large {
    font-size: 18px;
    line-height: 1.67;
  }

  &--small {

  }

  &--x-small {

  }

  &--light {

  }

  &--dark {

  }

  &--x-dark {

  }

  &--semi {
    @include font-weight(semi);
  }

  &--bold {
    @include font-weight(bold);
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--faded {
    color: #c2d7e7;
  }

  &--on-dark {
    color: pal(copy, on-dark)
  }
}

.text-center {
  text-align: center;
}

.bold {
  @include font-weight(bold);
}
.heavy {
  @include font-weight(heavy);
}
.white {
  color: pal(white);
}
