.heading {


  &--hero {

  }

  &--primary {
    @include font(44, extrabold);
    line-height: 1.41;
    margin: 20px 0;
  }

  &--secondary {

  }
}

.copy {

  &--large {
    font-size: 18px;
    line-height: 1.67;
  }

  &--small {

  }

  &--x-small {

  }

  &--light {

  }

  &--dark {

  }

  &--x-dark {

  }

  &--semi {
    @include font-weight(semi);
  }

  &--bold {
    @include font-weight(bold);
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--faded {
    color: #A5CFF0;
  }
}

.text-center {
  text-align: center;
}
