<h2>Listing Tests</h2>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>User id</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for test <- @tests do %>
    <tr>
      <td><%= test.id %></td>
      <td><%= test.name %></td>
      <td><%= FakeInternet.Accounts.get_user!(test.user_id).email %></td>

      <td class="text-right">
        <span><%= link "Show", to: test_path(@conn, :show, test), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: test_path(@conn, :edit, test), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: test_path(@conn, :delete, test), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Test", to: test_path(@conn, :new) %></span>
