<toast #toast></toast>
<div class="login-wrapper">
  <div class="container">
    <app-header></app-header>
  </div>
  <div class="col justify-center align-center auth">
    <h1 class="heading heading--hero">Zaloguj się</h1>

    <div class="auth-box">
      <form (submit)="handleFormSubmit($event)" [formGroup]="form">
        <div class="input-wrapper">
          <label class="label">Adres email</label>
          <input class="input" type="text" formControlName="email" placeholder="email">
          <p class="error" *ngIf="form.get('email').touched && form.get('email').invalid">
            Nieprawidłowy email.
          </p>
        </div>

        <div class="input-wrapper">
          <label class="label">Hasło</label>
          <input class="input" type="password" formControlName="password" placeholder="hasło">
          <p class="error" *ngIf="form.get('password').touched && form.get('password').invalid">
            Nieprawidłowe hasło. Hasło musi mieć co najmniej pięć znaków.
          </p>
        </div>

        <button class="auth-action btn btn--block">Zaloguj się</button>
      </form>

      <p class="change-auth-view copy copy--faded">Nie masz konta? <a routerLink="/registration"><span class="">Zarejestruj się</span></a></p>
    </div>
  </div>
</div>
