<div class="contact-options" [class.active]="contactOptionsMenuActive">
  <div class="content col justify-between">
    <div class="content-main">
      <h2 class="heading heading--primary heavy">Zostałeś ofiarą oszustw w Internecie?</h2>
      <p class="copy">Skontaktuj się z instytucjami, które mogą Ci pomóc!</p>
      <div class="numbers">
        <div class="number">
          <h3 class="heading heading--primary bold">+48 000 111 222</h3>
          <p class="copy copy--faded">INSTYTUCJA NUMER 1</p>
        </div>
        <div class="number">
          <h3 class="heading heading--primary bold">+48 000 111 222</h3>
          <p class="copy copy--faded">INSTYTUCJA NUMER 1</p>
        </div>
        <div class="number">
          <h3 class="heading heading--primary bold">+48 000 111 222</h3>
          <p class="copy copy--faded">INSTYTUCJA NUMER 1</p>
        </div>
      </div>
    </div>
    <div class="content-contact">
      <p class="copy">Albo skontaktuj się z nami, zrobimy wszystko żeby Ci pomóc!</p>
      <button class="btn">Napisz do nas</button>
    </div>
  </div>
</div>
