<div class="container">
  <app-header></app-header>

  <!--test-->

  <div class="tutorial fake-news">
    <div class="welcome">
      <span class="preheading">Poradnik</span>
      <h1 class="heading heading--hero">
        Witaj w pierwszym kroku naszego poradnika. <br>
        Przeczytaj podstawowe informacje!
      </h1>
    </div>

    <div class="tutorial-description-step">
      <h3 class="heading heading--primary">Czym są Fake News?</h3>
      <div class="box box--faded box--big box--short">
        <div class="row align-center">
          <div class="col-xs-2">
            <img src="/assets/images/alert.svg" alt="">
          </div>
          <div class="col-xs-10">
            <p class="copy copy--white">Nie wszystko o czym czytamy w internecie jest prawdą. <br> Nawet jeśli wygląda wiarygodnie i ma w mediach społecznościowych tysiące polubień.</p>
          </div>
        </div>
      </div>

      <p class="copy copy--on-dark">Fake News to fałszywe wiadomości mające na celu wprowadzenie Cię w błąd. Samo zjawisko znamy od wieków, ale ostatnio przybrało na sile ze względu na łatwość publikowania kłamliwych artykułów w internecie.</p>

      <p class="copy copy--on-dark">Fake News są bardzo niebezpieczne, bo na pierwszy rzut oka łatwo pomylić je z prawdą. Ich twórcom zależy jednak tylko na sianiu paniki, uzyskiwaniu korzyści finansowych lub politycznych, albo niszczeniu wizerunku znanych osób i organizacji. Fałszywe newsy mają manipulować Twoją opinią. W zalewie informacji, musisz samodzielnie nauczyć się odróżniać prawdę od fałszu.</p>
    </div>

    <div class="tutorial-description-step">
      <h3 class="heading heading--primary">Dlaczego Fake News są tak niebezpieczne?</h3>
      <div class="row danger-list">
        <div class="box box--faded">Panika</div>
        <div class="box box--faded">Dezinformacja</div>
        <div class="box box--faded">Niszczenie wizerunku</div>
        <div class="box box--faded">Narażanie życia i zdrowia</div>
      </div>

      <p class="copy copy--on-dark">Fake News potrafią wywołać skandal o zasięgu międzynarodowym, wpływać na poglądy tysięcy ludzi, a nawet narażać życie i zdrowie odbiorców. Oto przykłady internetowych Fake News, które odpowiadają za bardzo poważne, namacalne szkody:</p>

      <div class="examples">
        <div class="box box--large">
          <div class="row align-center">
            <div class="col-xs-2">
              <img src="/assets/images/fake-news1.jpg" alt="">
            </div>
            <div class="col-xs-10">
              <div class="example">
                <h6 class="preheading">Przykład 1</h6>
                <p><b>“Anonimowy pracownik amerykańskiego CDC (Centra Kontroli i Prewencji Chorób) twierdzi, że dystrybuowana przez organizację szczepionka na grypę doprowadziła część pacjentów do śmierci i wywołała epidemię”</b></p>
                <p>Ta fałszywa wiadomość podbiła na początku roku Facebooka. Poprzez komentarze i polubienia, zareagowało na nią blisko 700 000 osób. Przerażeni Amerykanie bali się szczepić przeciw grypie, co mogło doprowadzić do prawdziwej epidemii na wielką skalę.</p>
                <p><a href="http://yournewswire.com/cdc-flu-shot-deadly-outbreak/" target="_blank">http://yournewswire.com/cdc-flu-shot-deadly-outbreak/</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="box box--large">
          <div class="row align-center">
            <div class="col-xs-2">
              <img src="/assets/images/fake-news2.jpg" alt="">
            </div>

            <div class="col-xs-10">
              <div class="example">
                <h6 class="preheading">Przykład 2</h6>
                <p>Fałszywa historia łącząca Hillary Clinton z satanistycznymi obrzędami, handlem dziećmi oraz jedną z waszyngtońskich pizzerii nie tylko wpłynęła negatywnie na wizerunek byłej pierwszej damy, ale też spowodowała atak na restaurację z bronią w ręku. Na szczęście nikomu nic się nie stało.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box box--large">
          <div class="row align-center">
            <div class="col-xs-2">
              <img src="/assets/images/fake-news3.jpg" alt="">
            </div>
            <div class="col-xs-10">
              <div class="example">
                <h6 class="preheading">Przykład 3</h6>
                <p>W 2013 roku haker włamał się na społecznościowy profil amerykańskiej agencji prasowej i opublikował na nim notkę o treści:</p>
                <p><b>“Dwie eksplozje w Białym Domu, Barrack Obama jest ranny”.</b></p>
                <p>Wiadomość została błyskawicznie zdementowana, ale wystarczyło kilka minut, by wywołała chaos. Wartość głównego indeksu nowojorskiej giełdy spadła po publikacji o 136 miliardów dolarów!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tutorial-description-step">
      <h3 class="heading heading--primary">Dlaczego tak łatwo natknąć się na Fake News?</h3>

      <p class="copy copy--on-dark">Fake News opisują najczęściej tematy oraz wydarzenia, które wywołują powszechne zainteresowanie i silnie oddziałują na emocje. Czytelnicy poruszeni artykułem chętnie dzielą się nim w mediach społecznościowych, więc fałszywe informacje szerzą się niczym wirusy.</p>

      <p class="copy copy--on-dark">W niektórych przypadkach temat podejmują nawet duże portale internetowe! Z czasem coraz trudniej jest dojść do źródła wiadomości i rozpoznać, że mamy do czynienia z oszustwem. Z tego powodu Facebook i największe grupy medialne na świecie dokładają ostatnio wszelkich starań, by zminimalizować skalę zjawiska Fake News.</p>
    </div>
  </div>
</div>
