<div class="dashboard-wrapper white" style="overflow-y: scroll">
  <div class="container">
    <app-header></app-header>
    <div class="welcome">
      <h1 class="heading heading--hero">
        Stwórz nowy test
      </h1>
      <h2 class="copy copy--large copy--faded">
        It is a long established fact that a reader will be distracted by the readable
        content of a page when looking at its layout. The point of using
      </h2>
    </div>

    <label class="copy">
      <p class="copy copy--faded">Nazwa testu</p>
      <input type="text" [(ngModel)]="testName" required class="input">
    </label>

    <div class="questions" *ngFor="let category of availableQuestionCategories;">
      <h3 class="heading heading--secondary">Pytania z kategorii {{ category }}</h3>
      <ng-container *ngFor="let question of availableQuestions; index as i">
        <app-question
          *ngIf="question.category.title === category"
          [index]="i"
          (toggleQuestion)="toggleQuestion($event)"
          [question]="question">
        </app-question>
      </ng-container>
    </div>

    <button class="btn btn--white" (click)="saveTest()">Stwórz test</button>
  </div>
</div>
