@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-blue, A200);
$app-accent:  mat-palette($mat-grey, 50);
$app-theme:   mat-light-theme($app-primary, $app-accent);

// Include the default theme styles.
@include angular-material-theme($app-theme);

@import 'styles/mixins';
@import 'styles/colors';

@import 'styles/buttons';
@import 'styles/dashboard';
@import 'styles/forms';
@import 'styles/flexbox';
@import 'styles/material-override';
@import 'styles/normalize';
@import 'styles/typography';
@import 'styles/z-index';

@import 'styles/common';


// TODO:
// Review by @bartek and add colors/commons
.test-question-header {
  margin-bottom: 87px;
  display: flex;

  .welcome {
    margin-right: auto;
  }

  &__next-btn {
    margin-top: 106px;
    font-family: "Nunito-ExtraBold", sans-serif;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    width: 206px;
    flex-shrink: 0;
    margin-left: 40px;
    height: 58px;
    background: #2fc9ff;
    color: #fff;
    text-transform: uppercase;
    text-align: center;

    &[disabled] {
      cursor: default;
      opacity: 0.6;
    }
  }
}

.test-content-block {
  overflow: hidden;
  margin-bottom: 68px;
  border-radius: 10px;
  background-color: #fff;
  padding: 31px;
  box-shadow: 0 0 106px 0 rgba(38, 64, 129, 0.11);
}

.test-answer-select {
  &__item-container {
    float: left;
    width: 50%;
    padding: 15px;
  }

  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 22px 34px 0 rgba(27, 120, 199, 0.13);
    padding: 10px 76px 10px 45px;
    font-size: 18px;
    font-weight: bold;
    min-height: 165px;
    user-select: none;

    input[type="checkbox"] {
      visibility: hidden;
    }

    &-checkbox {
      margin: 0 40px 0 0;
      flex-shrink: 0;
      width: 34px;
      height: 34px;
      border-radius: 100%;
      box-shadow: 0 22px 34px 0 rgba(27, 120, 199, 0.13);
    }

    input[type="checkbox"]:checked + &-checkbox {
      background: #2fc9ff;
      position: relative;

      &:before {
        display: block;
        content: '';
        width: 15px;
        height: 11px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url(/assets/images/checkmark-white.svg);
        background-size: cover;
      }
    }
  }
}

.test-score {
  border-radius: 10px;
  background-color: #e9f5fe;
  padding: 31px;

  &__value {
    font-family: 'Nunito-Regular';
    font-size: 58px;
    color: #2fc9ff;
    margin-bottom: 10px;
  }

  &__label {
    font-family: 'Nunito-Bold';
    font-size: 14px;
    color: #c2d7e7;
  }
}
