<div class="question-wrapper">
  <div class="box box--big">
    <p class="question">{{ question.question }}</p>
    <ul class="answers">
      <li class="answer"
          [class.answer--valid]="answer.is_correct"
          *ngFor="let answer of question.answers; index as i;">{{i + 1}}. {{ answer.label }}</li>
    </ul>
  </div>

  <button *ngIf="!isAdded" class="btn" (click)="addToTest()">Dodaj</button>
  <button *ngIf="isAdded" class="btn btn--outline" (click)="removeFromTest()">Usuń</button>
</div>
