<div class="dashboard-wrapper" style="overflow-y: scroll">
  <div class="container">
    <app-header></app-header>

    <app-tutorial-nav [stepName]="'fakenews'"></app-tutorial-nav>

    <div class="welcome">
      <h1 class="heading heading--hero white">
        Fake News
      </h1>
    </div>

    <ng-container *ngIf="currentSlideId === 1">
      <div class="row align-end">
        <h5 class="heading heading--secondary white">{{ currentSlideId  }}. Przyjrzyj się wyglądowi strony 2</h5>

        <div class="tutorial-navigation-steps navigation row">
          <p class="heading heading--secondary white">{{ currentSlideId }} / <span class="heading--faded">{{ slidesCount }}</span></p>
          <div class="arrows">
            <div class="go-to-step" (click)="prev()">
              <div class="chevron left"></div>
            </div>
            <div class="go-to-step" (click)="next()">
              <div class="chevron right active"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="tutorial-content">
        <div class="box box--large">
          <div class="row align-center">
            <div class="col-xs-7">
              <p>Strony szerzące Fake News często sprawiają wrażenie nieprofesjonalnych. </p>
              <p>Znajdziesz na nich obrazki niskiej jakości, błędy gramatyczne i językowe oraz niewielką liczbę nowych artykułów.</p>
              <p>Nie oznacza to, że każda amatorska i rzadko aktualizowana strona propaguje fałszywe wiadomości, ale poruszając się po takich witrynach warto zachowywać szczególną ostrożność. </p>
            </div>
            <div class="col-xs-5">
              <img src="/assets/images/fakenews1.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="currentSlideId === 2">
      <app-highlights-slide style="display: block;"
                            [imageSrc]="'/assets/images/fakenews_screen.png'"
                            [highlights]="highlights"
                            (introJsEnd)="next()"
      ></app-highlights-slide>
    </ng-container>

  </div>
</div>
