<div class="container">
  <app-header></app-header>

  <!--
  <ng-container *ngIf="test.questions[currentQuestion]['image_path']">
    Obrazek do pytania:
    <img [src]="apiUrl + test.questions[currentQuestion]['image_path']" alt="">
  </ng-container>
  -->

  <div *ngIf="testFinished">
    Koniec pytań

    <p *ngIf="userScore !== 'no score'">
      Twój wynik to {{ userScore }}%.
    </p>
  </div>


  <div *ngIf="currentQuestion !== questionsCount && !testFinished">
    <div class="test-question-header">
      <div class="welcome">
        <span class="preheading">TEST WIEDZY</span>
        <h1 class="heading heading--hero heading--white">
          {{ currentQuestion + 1 }}.
          {{ test.questions[currentQuestion]['question'] }}
        </h1>
      </div>

      <button
        type="button"
        class="test-question-header__next-btn"
        [disabled]="answers.get(test.questions[currentQuestion]['id'].toString()).invalid"
        (click)="nextQuestion()"
      >
        Następne pytanie
      </button>
    </div>

    <form
      class="test-answer-select"
      [formGroup]="answers.get(test.questions[currentQuestion]['id'].toString())"
    >
      <div
        class="test-answer-select__item-container"
        *ngFor="let answer of test.questions[currentQuestion]['answers']"
      >
        <label class="test-answer-select__item">
          <input type="checkbox" [formControlName]="answer.id">
          <div class="test-answer-select__item-checkbox"></div>
          {{ answer.label }}
        </label>
      </div>
    </form>
  </div>
</div>
